<h2><%= @title %></h2>

<p>
Olemme firma, joka on keskittynyt opetuslaitosten harjoitustöiden
tekemiseen. Emme ole vielä täysin keksineet, miten tällä rahaa tekisi. Hitsi.
</p>

<p>
Konkurssia odotellessa!</p>

<p>
Tutustu silti tarkemmin sivuihimme. Lisätietoja firmastamme
löydät <%= link_to "täältä", yritys_path %>.
</p>

<p>
Tässä vielä video, joka kuvaa elämänfilosofiaamme:
TODO juutuubvideo
<p>
