<h1>Tööt <%= @title %></h1>

<p>
Olemme firma, joka on keskittynyt opetuslaitosten harjoitustöiden
tekemiseen. Emme ole vielä keksineet, miten tällä rahaa tekisi. Hitsi.
</p>

<p>
Konkurssia odotellessa!</p>

<p>
Tutustu silti tarkemmin sivuihimme.
</p>
