<h2><%= @title %></h2>

<p>Toimistomme sijaitsee Tampereen Hervannassa osoitteessa
Visvasyylänkatu 8 A, 33720 Tampere. Se puinen koirankoppi siinä
roskakatoksen vieressä. Tervetuloa tutustumaan tiloihimme!</p>

<p>
Soittaa sopii myös, meidät saa kiinni numerosta 0700 - 123123.
Otamme vastaan myös läähätyspuheluja.
</p>

<p>

<h3>Firmamme jäsenet</h3>

<table>
<thead>
<tr>
  <th>
    Henkilö
  </th>
  <th>
    Titteli
  </th>
  <th>
    Lempiväri
  </th>
</tr>
</thead>
<tbody>
<tr>
  <td>
    Jeesus Kristus
  </td>
  <td>
    Tyhjäntoimitusjohtaja
  </td>
  <td>
    Infrapuna
  </td>
</tr>
<tr>
  <td>
    Ukko Nooa
  </td>
  <td>
    Käsienheiluttelija
  </td>
  <td>
    Kalmanvihreä
  </td>
</tr>
</tbody>
</table>
