#container {
    margin: 0;
    width: 100%;
    background: #fff;
}

#header {
    background: #dede40;
    padding: 30px;
}

#header h1 {
    margin: 0;
}

#nav {
    float: left;
    width: 100%;
    background: #660;
}

#nav ul {
    margin: 0;
    padding: 0;
}

#nav ul li {
    display: inline;
    list-style-type: none;
}

#nav ul li a
{
    display: block;
    float: left;
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    border: 1px;
    border-left: 0;
    border-style: solid;
    border-color: #000;
}

#nav ul li a:hover {
    background: #383;
}

#content-container {
    float: left;
    width: 100%;
    background: #FFF;
}

#content {
    clear: left;
    float: left;
    width: 60%;
    margin: 0 0 0 0;
    padding: 30px 0px;
    display: inline;

}

#content h2 {
    margin: 0;
}

#huomautukset {
    float: right;
    width: 40%;
    padding: 20px 0px;
    margin: 0 0 0 0;
    display: inline;
    background: #ee5050;
    height: 100%;
}

#huomautukset h3 { margin: 0; }

#footer {
    clear: left;
    background: #ccc;
    text-align: right;
    padding: 20px;
    height: 1%;
}

#placeholder {
    width: 600px;
    height: 300px;
}

#tut {
    float:left;
    padding: 10px;
}

th, td {
    border: 1px;
    border-style: solid;
    border-color: #fff;
    background: #aaa;
    padding: 5px 20px;
}

td {
    background: #ddd;
}