<div id="logo">Logo</div>
<nav>
  <ul class="nav">
    <li><%= link_to "Etusivu", root_path %></li>
    <li><%= link_to "Yritys", yritys_path %></li>
    <li><%= link_to "Yhteystiedot", yhteystiedot_path %></li>
  </ul>
</nav>
